DB_PASSWORD=CHANGEME_db_password
RUSTFS_ACCESS_KEY=CHANGEME_s3_access_key
RUSTFS_SECRET_KEY=CHANGEME_s3_secret_min16chars
JWT_SECRET=CHANGEME_jwt_secret_must_be_at_least_32_characters
JWT_REFRESH_SECRET=CHANGEME_refresh_secret_must_be_at_least_32_chars
CURRENCY=CAD
S3_PUBLIC_ENDPOINT=http://localhost:9000
